/*all*/
@media (max-width: 999px) {
    header, nav, main, aside, .container-nav ,.main-container{
        width: 100% !important; 
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 13px;
    }

    .block {
        display: block !important;
    }
    /*hear*/
    .Search {
        display: none;
    }

    /*nav*/
    .showmenu{
        display: block;
        border-radius: var(--x) var(--x) 0 0 ;
    }

    nav{
       display: none;
       position: absolute;
       z-index: 999;
    }

    .menu {
        flex-direction: column;
        align-items: baseline !important;
    }

    .sub:hover .submenu {
        top: -50%;
        left: 100%;
    }

    .submenu li a {
        white-space: nowrap; 
    }

    /*information*/
    #information{
        flex-direction: column;
    }

    #information > div {
        width: 100%;
    }

    .registration-form {
        flex-direction: column;
        box-sizing: border-box;
        
    }

    .registration-form input,
    .registration-form select, 
    .registration-form textarea {
        width: 90%;
        margin: 0.5rem auto;
    }

    /*footer*/
    .footer-1 {
        display: block;
    }
    .footer-1 > div {
        width: 100%;
    }

    .footer-2 .container {
        display: block;
    }

    .footer-2 .container > div {
        width: 100%;
        margin: 0;
    }

    .footer-2 ul {
        margin: 0;
        padding: 0;
    }

    /*go to top*/
    .GoTop{
        
    }

}

@media (max-width: 558px) {
    html {
        font-size: 11px;
    }
}

