:root {
    --x: 7px;
    --width-size: 999px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #e9ebee;
}

header, nav, main, aside, se {
    width: var(--width-size);
    margin: 0 auto;
    /* background-color: #e9ebee; */
    font-size: 16px;
}


/*ALL*/
.flex {
    display: flex;
}

.center {
    align-items: center;  
}

.space-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/*header*/
header {
    background-color: #1150a0;
    color: white;
    font-size: 1rem;
}
.Search {
    display: block;
    /* align-items: center; */
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: var(--x);
    border: 2px solid black;
    background: linear-gradient(to left, crimson, lightsalmon, violet);
} 
.Search input, button {
    background: transparent;
    border: none;
}

/*phan nav*/
nav {
    background-color: #0063cd;
    margin-top: 5px;
    border-radius: var(--x) var(--x) 0 0;
}

ul.menu {
    list-style-type: none;
    padding:0 ;
    margin: 0;
}

ul.menu > li >a:hover {
    background-color: #07c2fa;
} 

ul.menu > li >a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 0.5rem;
}

.sub {
    position: relative;
}

.submenu {
    visibility: hidden; 
    opacity: 0;         
    position: absolute;
    border: 2px solid #0063cd;
}

.submenu >li >a {
    color: #000 !important;
    background-color: #e9ebee;
    padding: 0.3rem;
    border-bottom: 1px solid whitesmoke;
}

.sub:hover .submenu {
    visibility: visible; 
    opacity: 1; 
    transition: opacity 0.5s ease-out;  
    z-index: 999;        
}
 
/*aside*/
aside img{
    width: 100%;
}

.radio-group > input[type=radio] {
    padding: 0;
    margin: 0;
}

.img-group {
    position: relative;
}

.radio-group {
    position: absolute;
    bottom: 5%;
    left: 45%;
}

/*registration*/
.registration  {
    background-color: white;
    text-align: center;
    border: 2px solid #FF7F00;
    margin-bottom: var(--x);
}

.registration h2 {
    background: linear-gradient(to left, violet, indigo, blue, green,yellow, orange, red); 
    background-clip: text;
    color: transparent;              
    padding: 10px;              
    text-align: center;
    animation: animated 10s linear infinite;
}

@keyframes slide {
    0% {
        transform:scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.onclick-slide {
    animation: slide 0.5s linear;
}

@keyframes animated{
    100% {
        background-position-x: 500px;
    }
}

.registration-form {
    background-color: #0063cd;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.registration-form input,
.registration-form select, 
.registration-form textarea {
    display: block; 
    width: 40%;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: var(--x);
}

.registration-form input:focus,
.registration-form select:focus,
.registration-form textarea:focus {
    border-color: violet;
    outline: none;
}

.registration button {
   width: 150px;
   height: 50px;
   margin: 10px;
   background: linear-gradient(130deg, violet, blue, green, orange, red);
   border-radius: 6px;
   position: relative;
}

.registration button span {
    width: 96%;
    height: 88%;
    background-color: #111;
    color: aliceblue;
    line-height: 44px;
    display: block;
    margin: 0 auto;
    border-radius: var(--x);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.registration button:hover{
    animation: animated 3s linear infinite;
}

/*information*/
#information {
    background-color: white;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

#information h2 {
    color: #0063cd;
    padding-left: 0.5rem;
}

.admission-information {
    width: 70%;
}

.admission-information div{
    flex-wrap: wrap;
}

.admission-information div div {
    width: 50%;
    padding: 0.5rem;
}

.admission-information img{
    width: 100%;
    border: 1px solid #000;
}

.news {
    width: 30%;
    border: 2px solid wheat;
}

.news > div{
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid grey;
}

.news > div:last-child {
    border: none;
}











